{% include base_path %}

<div class="page__footer-follow">
  <ul class="social-icons">
    <li><strong>Explore</strong></li>
    <li><a href="{{ base_path }}/publications/">Publications</a></li>
    <li><a href="{{ base_path }}/teaching/">Teaching</a></li>
    <li><a href="{{ base_path }}/talks/">Talks</a></li>
    {% if site.author.github %}
      <li><a href="https://github.com/{{ site.author.github }}">GitHub</a></li>
    {% endif %}
  </ul>
</div>

<div class="page__footer-copyright">
  &copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}. Built with care in Los Angeles.
</div>
